*.txt
*.pyc
!amp.txt
!bank.txt
!bee.txt
!bug.txt
!cdbg.txt
!en-languages.txt
!filter.txt
!help.txt
!help2.txt
!hi.txt
!info.txt
!lg.txt
!link.txt
!moquote.txt
!outage.txt
!vicious.txt
!prequel.txt
!spidey.txt
!status.txt
!temp.txt
!tips.txt
!tng.txt
!vrleaderboard.txt
!xfer.txt
img/temp.png